<div class="section full mt-2 mb-2">
  <div class="m-2">
    <div class="section-title">確認連絡を送りました</div>
    <%= link_to 'ホームに戻る', group_path(current_user.group_id), class: 'btn btn-dark mx-auto d-block pt-1 mt-3' %>
  </div>
</div>