<div class="section full mt-2 mb-2">
    <div class="section-title">How to use it?</div>
    <div class="wide-block pt-2 pb-2">
        <h5>Prepare</h5>
        <p>
            Don't forget to paste the html codes of modals on the html page you want to use.
        </p>

        <h5>Show everytime</h5>
        <p>You can show with <code>AddtoHome();</code> javascript code.</p>

        <h5>Show after a delay</h5>
        <p>
            You can set the delay to show the modal.
            <code>AddtoHome("3000");</code>
            <br>
            This code shows the modal after <strong>3 seconds</strong>. Change according to what you want.
        </p>

        <h5>Show only once</h5>
        <p>
            Show the modal only once to users.
            <code>AddtoHome(3000, "once");</code>
            <br>
            This code shows the modal after <strong>3 seconds</strong>.
            it works only once, does not disturb users.
            Note: you must define the delay, otherwise It will not work.
        </p>

    </div>
</div>